# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac / system files
.DS_Store